#cohortContainer {
    width: 80%;
    margin-left: 5%;

    #courseHeader {
        display: flex;
        justify-content: space-between;
        align-items: baseline;
    };

    #cohortTable {
        width: 100%;
    };
};

#individualCohortContainer {
    width: 85%;

    #cohortHeader {
        display: flex;
        align-items: baseline;
        justify-content: space-between;
    };

    h3 {
        margin: 0;
    };

    #cohortClassRoster {
        table, th, td {
            border: 1px solid black;
            border-collapse: collapse;
            padding: 5x;
            text-align: left;
        }

        table {
            width: 85%;
        }
    };
};