$margin: 3.1em;
$padding: 3em;
$corner: 12px;

body {
    background-image: url(classroom_background.jpg);
    background-size: cover;
    background-repeat: no-repeat;
    margin: 0;
    font-family: 'Quicksand', sans-serif;
}

#homepage {
    background-image: url(welcome_background.png);
    background-size: cover;
    background-repeat: no-repeat;

    h1 {
        font-family: 'Tangerine', cursive;
        text-align: center;
        font-size: 5vw
    }

    h2 {
        font-family: 'Tangerine', cursive;
        text-align: center;
        font-size: 3vw;
    }

    p {
        font-family: 'Quicksand', sans-serif;
        text-align: center;
    }
}

nav {
    width: 100%;
    background-color: #7B6D8DB3;
    margin-top: 0;
    display: flex;
    justify-content: space-between;
    font-family: 'Quicksand', sans-serif;
    font-size: 1.5vw;

    #logo {
        width: 30%;
        height: auto;
    }

    a {
        text-decoration: none;
        padding: 8px;
        color: #b39fef;
    }

    a:hover {
        color: white;
    }
}

.notice, .alert {
    text-align: center;
    font-family: 'Quicksand', sans-serif;
}

.tabContentContainer {
    background-color: #ffffffbf;
    border-radius: 0 $corner $corner $corner;
    margin: 0 $margin $margin $margin;
    padding: $padding;
}

.tableButton {
    width: 10%;
}

form {
    display: table;

    .field {
        display: table-row;

        label {
            display: table-cell;
        }

        input {
            display: table-cell;
        }
    }
}


