$margin: 3.1em;
$padding: 3em;
$corner: 12px;

body {
    background-image: url(classroom_background.jpg);
    background-size: cover;
}

.tabContentContainer {
    background-color: #ffffffbf;
    border-radius: 0 $corner $corner $corner;
    margin: 0 $margin $margin $margin;
    padding: $padding;
}

.tableButton {
    width: 10%;
}

form {
    display: table;

    .field {
        display: table-row;

        label {
            display: table-cell;
        }

        input {
            display: table-cell;
        }
    }
}