#courseContainer {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
    

    #individualCourse {
        background-color: #17448c; 
        width: 18vw;
        height: 18vw;
        display: flex;
        flex-flow: column wrap;
        justify-content: center;
        align-items: center;
        margin: 1.5em;
        
    }
}