#courseContainer {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
    
    #individualCourse {
        background-color: #1c5b8ebf; 
        width: 18vw;
        height: 18vw;
        display: flex;
        flex-flow: column wrap;
        justify-content: center;
        align-items: center;
        margin: 1.5em;
        border-radius: 15px;

        #courseEdit {
            width: 100%;
            text-align: center;
        }
    }
}       

#individualCourseContainer {
    #courseHeader {
        width: 95%;
    }

    #courseTable {
        width: 100%;
    } 
}