<body id="homepage">
    <h1> Welcome to Anime Tropes Academy</h1>
    <h2> ~Break free of your character trope and rewrite your story~</h2>
    <p> To get started, please <a href="/admins/sign_in"> sign in </a>
</body>