<%= form_with model: @course do |form| %>
    <form>
        <div class="field"> 
            <label> Course Name: </label>
            <%= form.text_field :name %> 
        </div>
        <div class="field"> 
            <label> Total Hours: </label>
            <%= form.number_field :hours %> 
        </div>
        <div class="field"> 
            <%= form.submit %> 
        </div>
    </form>
  <% end %>